*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  display:flex;
  
  align-items: center;
  min-height:100vh;
  min-width:100vw;
  margin:0;
  padding:0;
  background: rgb(78,178,195);
background: linear-gradient(90deg, rgba(78,178,195,1) 0%, rgba(185,223,229,1) 100%);
  
}
.right{
  width:85vw;
  display:flex;
  flex-direction:column;
  

}


.header{
  height: 20vh;
  background: transparent;
  display:grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(7, 1fr); 
}

.main{
  min-height: 80vh;
  background: transparent;
  
  display:flex;
  
}

/* main elements */
  
.content{
  height: 80vh;
  width: 82%;
  display:grid;
  padding: 15px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  
}
div.restaurant{
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 8px;
  
  
}
.name{
  font-size: 30px;
  font-weight: bold;
  color:#f1356d;
}
.rating, .timesvisited{
  font-size:23px;
}
.comments{
  font-size: 20px;
}
button.deleteRes{
  border-radius: 12px;
  width: 3vw;
  height: 3vh;
  border:2px solid black;
  background-color: transparent;
}
button.deleteRes:hover{
  cursor: pointer;
}


/* header elements */
.search{
  grid-column: 1 / 6;
  
  margin-left: 20px;
  margin-top: 25px;
  height:4vh;
  border-radius: 10px;
  outline:none;
  border:none;
  padding: 10px;
}

.profile{
  grid-column: 6 / 8;
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
}

.profile>.account{
  height: 4vh;
  width: 6vw;
  border-radius: 12px;
  border: 1px solid #4eb2c3; 
  background:transparent;
  font-size:15px;
}
.profile>button:hover{
  height: 5vh;
  width: 7vw;
  cursor: pointer;
  font-size: 18px;
}

.buttons{
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.buttons>.upload{
  height: 5vh;
  width: 8vw;
  border-radius: 12px;
  border:transparent;
  font-size:22px;
  background:#4eb2c3;
  
}
.buttons>.upload:hover{
  height: 6vh;
  width: 9vw;
  cursor: pointer;
  font-size: 25px;
}
.upload{
  font-size:20px;
  cursor: pointer;
}
.greeting{
  grid-column: 1 / 6;
  font-size: 40px;
  display:flex;
  gap: 15px;
  display:flex;
  justify-content: center;
  align-items: center;

}
.buttons{
  grid-column: 6 / 8;
}

/* sidebar elements*/
.sidebar{
  width:20vw;
  min-height: 100vh;
  
  background: transparent;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: repeat(9, 7vh);
  
}
.title>.food{
  font-size: 38px;
  font-weight: bold;
}
.title>.mark{
  font-size: 38px;
  font-weight: bold;
  color: #f1356d;
}
.title {
  padding-left: 25px;
  padding-top: 20px;
  display:flex;
  gap: 3px;
  grid-row: 1 / 3;
}
.sidebar>div>a{
  padding-left: 25px;
  font-size:28px;
  color:white;
  text-decoration: none;
  
}


/* Popup modal form */

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(0);
  width: 400px;
  padding: 15px;
  background:lightblue;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  transition: 200ms ease-in-out;
  z-index: 10;
  display:flex;
  justify-content: center;
  align-items: center;
}
.modal.active{
  transform:translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out ;

}
.close-btn{
  position:absolute;
  top:10px;
  right:10px;
  width:15px;
  height:15px;
  background:red;
  color: transparent ;
  text-align: center;
  border-radius: 15px;
  cursor:pointer;
}

.overlay{
  position:fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  pointer-events: none;
}
.overlay.active {
  pointer-events:all;
  opacity: 1;
  
}

form.add-restaurant{
  height: 55vh;
  width: 30vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
}

form.add-restaurant>input{
  width: 15vw;
  height: 5vh;
  padding: 10px;
  border-radius:12px;
  border:none;
  outline:none;
  font-size: 18px;
}


.submitbtn{
  width: 8vw;
  height: 3vh;
  border-radius:12px;
  border:none;
}
.submitbtn:hover{
  width: 9vw;
  height: 4vh;
  cursor:pointer;
}

